location ~* {
	fastcgi_split_path_info ^(.+\.php)(/.+)$;
	fastcgi_pass ${APP_PHPHOST}:9000;
	fastcgi_index index.php;
	
	include fastcgi_params;

	fastcgi_param SCRIPT_NAME index.php;
	fastcgi_param SCRIPT_FILENAME $document_root/index.php;
	fastcgi_param PATH_INFO $fastcgi_path_info;
}
